<div class="list-group" style="max-width:370px">
 {{#each this}}
<div class="list-group-item list-group-item-primary">{{@key}}</div>
{{#each this }}
  <a href="{{this.href}}" target="_blank" class="list-group-item d-flex align-items-center gap-3 list-group-item-action">
    <img src="{{@root.API_BASE}}/bookmark/icon?host={{domainonly this.href}}" style="max-width:32px;max-height:32px;" />
    <span>
      {{@key}}
      <div style="font-size: 12px;white-space:nowrap;overflow:hidden; !important;width:280px !important;" class="d-block text-muted">{{this.description}}</div>
    </span>
</a>
{{/each}}
{{#if @last}}{{else}} <div class="list-group-item list-divider"></div>{{/if}}
{{/each}}

</div>	
