 <div class="ticker-wrap">
 <div class="ticker" id="ticker">
 {{#each this.feeds}}
   <div class="ticker__item">
<a href="{{this.image.link}}" target="_blank"><img src="{{this.image.url}}" style="max-height:30px" /></a>
</div>
  {{#each this.items}}
<div class="ticker__item">
<a class="text-white" style="text-decoration: none;" href="{{this.link}}" target="_blank">{{this.title}}</a>
</div>
  {{/each}}
 {{/each}}
 </div>
</div>

<script type="text/javascript">
$( document ).ready(function() {
$(".ticker").css("-webkit-animation-duration", "{{this.tickerDelay}}s")
$(".ticker").css("animation-duration", "{{this.tickerDelay}}s")
});
</script>
