<div class="container">
  <div class="row">
    <div class="col">
      <div class="card m-3 border border-primary" style="max-width:400px">
        <img class="card-img-top" style="margin:10px;max-height:100px;max-width:380px;" src="/api/icons/simple?name={{system.manufacturer}}" alt="">
        <div class="card-body">
          <h4 class="card-title text-primary">{{system.model}}</h4>
          <p class="card-text">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th scope="row">Manufacturer</th>
                <td>{{system.manufacturer}}</td>
              </tr>
              <tr>
                <th scope="row">CPU</th>
                <td>{{cpu.manufacturer}} {{cpu.brand}}</td>
              </tr>
              <tr>
                <th scope="row">Vendor</th>
                <td>{{cpu.vendor}}</td>
              </tr>
            </tbody>
          </table>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card m-3 border border-primary" style="max-width:400px">
        <img class="card-img-top" style="margin:10px;max-height:100px;max-width:380px" src="/api/icons/simple?name={{cpu.vendor}}" alt="">
        <div class="card-body">
          <h4 class="card-title text-primary">Processor</h4>
          <p class="card-text">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th scope="row">CPU</th>
                <td>{{cpu.vendor}} {{cpu.family}}</td>
              </tr>
              <tr>
                <th scope="row">Avg Speed</th>
                <td>{{cpuCurrentSpeed.avg}}ghz</td>
              </tr>
              <tr>
                <th scope="row">Temperature</th>
                <td>{{cpuTemperature.main}}&#8451;</td>
              </tr>
            </tbody>
          </table>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card m-3 border border-primary" style="max-width:400px">
        <div class="card-body">
          <h4 class="card-title text-primary">Memory</h4>
          <p class="card-text">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th scope="row">Capacity</th>
                <td>{{mem.strtotal}}</td>
              </tr>
              <tr>
                <th scope="row">Used</th>
                <td>{{mem.strused}} </td>
              </tr>
              <tr>
                <th scope="row">Free</th>
                <td>{{mem.strfree}}</td>
              </tr>
              <tr>
                <th scope="row">Swap Capacity</th>
                <td>{{mem.strswaptotal}}</td>
              </tr>
              <tr>
                <th scope="row">Swap Used</th>
                <td>{{mem.strswapused}} </td>
              </tr>
              <tr>
                <th scope="row">Swap Free</th>
                <td>{{mem.strswapfree}}</td>
              </tr>
            </tbody>
          </table>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card m-3 border border-primary" style="max-width:400px">
        <div class="card-body">
          <h4 class="card-title text-primary">Storage</h4>
          <p class="card-text">
          <table class="table table-hover">
            <tbody>
              {{# each this.fsSize}}
                <tr>
                  <th scope="row">Device</th>
                  <td>{{this.fs}}</td>
                </tr>
                <tr>
                  <th scope="row">Capacity</th>
                  <td>{{this.strsize}}</td>
                </tr>
                <tr>
                  <th scope="row">Used</th>
                  <td>{{this.strused}} ({{this.use}}%)</td>
                </tr>
                <tr>
                  <th scope="row">Free</th>
                  <td>{{this.stravailable}}</t>
                </tr>
                {{#if @last }}{{else}}
                  <tr>
                    <th scope="row">&nbsp;</th>
                    <td>&nbsp;</td>
                  </tr>
                {{/if}} {{/each}}
            </tbody>
          </table>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
