  <div class="ticker" id="ticker">
    {{#each this.feeds}}
      <span style="margin-top:0px!important">
        <a href="{{this.image.link}}" target="_blank"><img src="{{this.image.url}}" style="max-height:30px" /></a>
        &nbsp;{{this.lastBuildDate}}
      </span>
      {{#each this.entries}}
        <span style="margin-left:50px">
          <a class="text-white" style="text-decoration: none;" href="{{this.link}}" target="_blank">{{this.title}}</a>
        </span>
      {{/each}}
      <span style="margin-left:70px">&nbsp;</span>
    {{/each}}
  </div>
  <script type="text/javascript">
    $(document).ready(function () {
      $('.ticker').marquee({
        speed: 80
      });

    });

  </script>
