!DOCTYPE html>
<html data-mdb-theme="{{theme}}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script type="text/javascript" src="/scripts/main.min.js"></script>
  <script type="text/javascript">
    window.API_BASE = '{{API_BASE}}';

  </script>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/8.0.0/mdb.min.css" rel="stylesheet" />

  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/images/labortablo.svg" type="image/svg+xml" />
  <link rel="icon" href="/images/apple-touch-icon.png" type="image/png" />
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png" />
  <title>{{appTitle}} - {{title}}</title>
</head>

<body class="roboto-flex-main">
  <nav class="navbar navbar-expand-sm bg-primary bg-gradient navbar-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="javascript:">
        <i><img style="height:30px;" src="/images/logo.svg" /></i>&nbsp;{{appTitle}}
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </nav>
  <div style="margin-top: 70px;"></div>
  <div class="container">
    {{{body}}}
  </div>
  <div style="margin-top: 70px;"></div>
  <footer style="height:50px;" class="p-3 bg-secondary bg-gradient text-white fixed-bottom">
    {{> ticker this }}
  </footer>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/8.0.0/mdb.umd.min.js"></script>

  <script type="text/javascript">
    applyTheme('{{THEME_NAME}}', {{THEME_START}}, {{THEME_END}});

  </script>
</body>

</html>
